/* 公共样式 */
.hover {
  color: #b3c1e1;
  background: transparent;
  opacity: .8;
}
.active {
  color: #b3c1e1;
  background: transparent;
}
.disabled {
  color: #8e919d;
  background: transparent;
}
.body {
  height: 100%;
}
.body .el-header {
  background: #3d4150;
  text-align: center;
  line-height: 120px;
}
.body .el-container {
  height: 100%;
}
.body .el-container .el-container {
  height: -moz-calc(100% - 120px);
  height: -webkit-calc(100% - 120px);
  height: calc(100% - 120px);
}
.body .el-aside {
  background: #d3dce6;
}
.body .el-aside .el-menu {
  background: transparent;
}
.body .el-main {
  background: #e9eef3;
}
.block {
  line-height: 35px;
}
/* Element Ui 样式 */
