// 注：后缀有 Bg 的都是 background, 否则都是 color

// 主题颜色
@theme: #1c223a;
@themeBg: transparent;
@color: #6c81ac;
@hoverBg: transparent;
@hover: #b3c1e1;
@activeBg: transparent;
@active: #b3c1e1;
@disabledBg: transparent;
@disabled: #8e919d;


// Element Ui
@dialogTit: #fff;
@dialogClose: #eee;
@tableStripedBg: #DCF0F9;
// select 多选选中的背景颜色
@selectTagBg: transparent;

/* 公共样式 */
.hover {
  color: @hover;
  background: @hoverBg;
  opacity: .8;
}
.active {
  color: @active;
  background: @activeBg;
}
.disabled {
  color: @disabled;
  background: @disabledBg;
}

.body {
  height: 100%;
  .el-header {
    background: #3d4150;
    text-align: center;
    line-height: 120px;
  }
  .el-container {
    height: 100%;
    .el-container {
      height: ~"-moz-calc(100% - 120px)";
      height: ~"-webkit-calc(100% - 120px)";
      height: ~"calc(100% - 120px)";
    }
  }
  .el-aside {
    background: #d3dce6;
    .el-menu {
      background: transparent;
    }
  }
  .el-main {
    background: #e9eef3;
  }
}
.block {
  line-height: 35px;
}

/* Element Ui 样式 */
